/*Sets a gradient as the background for the whole page.*/
body {
    background-image: linear-gradient(to top, #ffffff, #ccffbb);
    height: 100vh;
}

/*Puts each link inside a flexbox and creates space around them to "center" them.*/
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: solid 2px #000000;
    border-radius: 2px;
    box-shadow: 1px 1px 0 #008080;
    margin: 0 10%;
}

/*Sets the font and color for the navigation bar links.*/
.navigation > a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #c80000;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

/*Styles links when hovered.*/
a:hover {
    text-decoration: underline;
}

/*Centers the main elements of each page.*/
.text_p1, .image_p1 {
    width: fit-content;
    margin: 0 auto;
}

/*Sets the font for the main text of each page.*/
.text_p1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
